{% extends "base.html" %}

{% block indextitle %}{% endblock %}

{% block content %}
<div class='article'>
  <div class="page-header"><h1>{{ article.title }}{% if article.version %} <small>{{article.version}}</small>{% endif %}</h1></div>
  <div class="well small">{% include "metadata.html" %}</div>
  <div>{{ article.content }}</div>
  {% if article.icon %}<div><img src="{{ article.icon }}" /></div>{% endif %}
  {% if article.uuid %}<div><a href="https://cloud.online.net/#/servers/new?image={{ article.uuid }}" class="btn btn-danger" target="_blank">Create server</a></div>{% endif %}
  {% if article.vendor_url and article.vendor_name %}<div>Visit <a href="{{article.vendor_url}}" target="_blank">{{article.vendor_name}}</a> website</div>{% endif %}
  {% if article.github_url %}<div>View on <a href="{{article.github_url}}" target="_blank">Github</a></div>{% endif %}
  {% if article.issues_url %}<div>Report an <a href="{{article.issues_url}}" target="_blank">Issues</a></div>{% endif %}
  {% if article.help_url %}<div><a href="{{article.help_url}}" target="_blank">Documentation</a></div>{% endif %}
  {% if article.community_url %}<div><a href="{{article.community_url}}" target="_blank">Post</a> on community</div>{% endif %}
</div>
{% endblock %}
