{% extends "base.html" %}

{% block title %}{{ article.title }}{% if article.version %} <small>{{article.version}}</small>{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <h2>{{ article.summary }}</h2>
    <div>{{ article.content }}</div>
  </div>
  <div class="row-fluid">
    <div class="well col-md-6 col-md-offset-3">
      <a href="https://cloud.online.net/#/servers/new?image={{ article.uuid }}" class="btn btn-primary btn-block btn-lg" target="_blank">Boot on Online Labs</a>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="text-center well">
  <img src="{% if article.icon %}{{ article.icon }}{% else %}{{ DEFAULT_METADATA.icon }}{% endif %}" class="img-rounded" />

  <hr />

  <dl class="dl">
    <dt>Author</dt>
    <dd><a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }} <img src="{{article.author_gravatar}}?s=20" /></a></dd>

    <dt>Category</dt>
    <dd><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></dd>

    <dt>Tags</dt>
    <dd>{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}" class="btn btn-xs btn-info">{{ tag }}</a> {% endfor %}</dd>

    {% if article.vendor_url %}
    <dt>Vendor</dt>
    <dd><a href="{{article.vendor_url}}" target="_blank" class="social">{% if article.vendor_name %}{{article.vendor_name}}{% else %}{{article.vendor_url}}{% endif %}</a></dd>
    {% endif %}

    {% if article.github_url %}
    <dt>Sources</dt>
    <dd><a href="{{article.github_url}}" target="_blank" class="social">View sources</a></dd>
    {% endif %}

    {% if article.issues_url %}
    <dt>Issues</dt>
    <dd><a href="{{article.issues_url}}" target="_blank" class="social">Report an issue</a></dd>
    {% endif %}

    {% if article.help_url %}
    <dt>Documentation</dt>
    <dd><a href="{{article.help_url}}" target="_blank" class="social">Documentation</a></dd>
    {% endif %}

    {% if article.community_url %}
    <dt>Community discussion</dt>
    <dd><a href="{{article.community_url}}" target="_blank" class="social">{% if article.community_title %}{{article.community_title}}{% else %}{{ article.title }}{% endif %}</a></dd>
    {% endif %}
  </dl>
</div>
{% endblock %}
