<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/theme/html5.js"></script>
        <![endif]-->
    <!-- Styles -->
    <link href="{{ SITEURL }}/theme/bootstrap-3.3.2.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <!--<link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">-->
    <!--<link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">-->
    {% include "analytics.html" %}
    {# {% include "disqus.html" %} #}
  </head>
  <body>
    {# {% include "facebook.html" %} #}
    {# {% include "github.html" %} #}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endif %}
            {% for cat, null in categories %}
            <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="{{ SITEURL }}/archives.html">[archives]</a></li>
            <li><a href="{{ SITEURL }}/tags.html">[tags]</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
      {% block indextitle %}
      <div class="container">
        <div class="row">
          <div class="page-header">
            <h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1>
          </div>
        </div>
      </div>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div class="container">
      <div class="row">
        <footer>
          <p>&copy; {{ AUTHOR }}</p>
        </footer>
      </div>
    </div>
  </body>
</html>
